.nextpage{
	padding-top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__item{
		padding: 0 11px;
		position: relative;
		&::before{
			content: '';
			width: 2px;
			height: 100%;
			background: $gray;
			position: absolute;
			top: 0;
			right: 0;
		}
		&:last-of-type{
			&::before{
				content: '\f324';
				width: auto;
				height: auto;
				background: none;
				right: 6px;
				fill: $dark;
				top: 50%;
    			transform: translate(11px, -50%);
			}
		}
	}
	&__link{
		@include font(30px, 41px, $gray, 400);
	}
}