.banner-ps5.container
  .banner-ps5__content
    img.banner-ps5__content--img(src="images/ps5-logo.png", alt="")
    h2 PlayStation 5 Console
    a.btn-dark(href="#!") WATCH NOW 
  .banner-ps5__img
    img(src="images/ps5-img.png", alt="")