.xbox
	img.xbox__bg(src="images/xbox2.png", alt="")
	.container 
		h2.xbox__title Xbox Wireless Controller
		p.xbox__subtitle Textured triggers and bumpers I Hybrid D-pad I Button mapping I Bluetooth
		button.xbox__button.btn-dark ADD TO CART