doctype html
html(lang="en")
  include view/head.pug
  body
    include view/components/root.pug
    include view/components/navbar.pug
    include view/components/slider.pug
    include view/components/goods.pug
    include view/components/iphone.pug
    include view/components/nout.pug
    include view/components/banner-ps5.pug
    include view/components/topsale.pug
    include view/components/footer.pug
    include view/scripts.pug