doctype html
html(lang="en")
  include view/head.pug
  body
    include view/components/root.pug
    include view/components/navbar.pug
    include view/components/buyphone.pug
    include view/components/ps-vr.pug
    include view/components/footer.pug
    include view/scripts.pug