doctype html
html(lang="en")
  include view/head.pug
  body
    include view/components/root.pug
    include view/components/navbar.pug
    include view/components/slider.pug
    include view/components/iphone.pug
    include view/components/samsung.pug
    include view/components/xiaomi.pug
    include view/components/xbox.pug
    include view/components/nextpage.pug
    include view/components/footer.pug
    include view/scripts.pug